<header id="menu-wrap" class="menu-back cbp-af-header cbp-af-header-shrink">
  <div class="container">
    <div class="twelve columns">
      <a href="/" class="logo"></a>
      <ul class="slimmenu homemenu">
        <li><a routerLink="/emav/menu">Ingresar</a></li>
        <li class="active"><a>Inicio</a></li>
        <li class="dropdown">
          <a href="#">Institucional</a>
          <ul class="dropdown-menu" style="display:none"></ul>
        </li>
        <li><a href="#obras">Obras</a></li>
        <li><a href="#vecino">Atenci&oacute;n al vecino</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
    </div>
  </div>
</header>

<section class="hero-slider">
  <div class="hero-slide" style="background-image: url('assets/emav/asset_0023.webp')">
    <div class="hero-overlay"></div>
    <div class="container">
      <div class="hero-content">
        <div class="tp-caption emav big-text">
          <span>Desarrollo sustentable</span>
        </div>
      </div>
    </div>
  </div>
  <a class="scroll" href="#empresa">
    <div class="scroll-btn"></div>
  </a>
</section>

<section id="empresa" class="section empresa">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <div class="wpb_text_column">
          <h4 style="text-align:left">LA EMPRESA</h4>
          <p>&nbsp;</p>
          <p>Empresa Municipal Aguas Varillenses (EMAV) es la encargada de dotar de los servicios de agua potable y saneamiento a los vecinos de la ciudad de Las Varillas. Con reconocimiento a nivel provincial, brinda soluciones responsables y eficientes, logra clientes satisfechos por el buen servicio en calidad y continuidad, y tiene una plataforma tecnol&oacute;gica al servicio y para beneficio de sus usuarios.</p>
          <p>&nbsp;</p>
          <p>Planifica, dise&ntilde;a, ejecuta y supervisa las obras de construcci&oacute;n, mejoramiento, ampliaci&oacute;n, reconstrucci&oacute;n y mantenimiento del servicio de agua potable y saneamiento en la Las Varillas, supliendo la demanda y necesidades de los ciudadanos de la localidad de una forma participativa y consensuada, contribuyendo as&iacute; al desarrollo local y al bienestar social de la poblaci&oacute;n.</p>
          <p>&nbsp;</p>
          <p>Adem&aacute;s de las funciones espec&iacute;ficas y t&eacute;cnicas en la producci&oacute;n y distribuci&oacute;n, <strong>EMAV</strong> cuenta con un equipo de trabajo a cargo de atender los requerimientos administrativos y jur&iacute;dicos de los usuarios para fortalecer la transparencia y eficiencia en la relaci&oacute;n con el usuario.</p>
          <p>&nbsp;</p>
          <p><strong>Funciones de EMAV:</strong></p>
          <p>&nbsp;</p>
          <p>&bull; Prestar, fiscalizar y controlar el abastecimiento de agua potable en la ciudad de Las Varillas.</p>
          <p>&bull; Controlar el uso del agua y su calidad.</p>
          <p>&bull; Fijar pol&iacute;ticas h&iacute;dricas y de saneamiento.</p>
          <p>&bull; Defender el medio ambiente a trav&eacute;s de pol&iacute;ticas y acciones sustentables y campa&ntilde;as de concientizaci&oacute;n.</p>
          <p>&nbsp;</p>
          <p>EMAV quiere ser reconocida por el nivel de servicio y ser referente en la construcci&oacute;n diaria de una ciudad mejor.</p>
        </div>
      </div>
      <div class="four columns">
        <a style="color:inherit" href="#" title="" target="_blank">
          <div class="services-offer">
            <span class="svg-icon flat-filled" id="filled-screen">
              <svg class="flat_icon" xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 100 100">
                <path class="circle" d="M50,4.25c26.441,0,47.875,21.434,47.875,47.875S76.441,100,50,100C17.857,100,2.125,78.566,2.125,52.125S23.559,4.25,50,4.25z"></path>
                <g class="icon">
                  <path class="stand" d="M33.606,79.886v-2.343c7.113,0,8.588-2.227,8.588-6.242c0-0.133-0.017-0.65-0.021-0.782h15.652c-0.005,0.132-0.021,0.649-0.021,0.782c0,4.016,1.474,6.242,8.588,6.242v2.343H33.606z"></path>
                  <path class="base" d="M27.361,28.364h45.276c2.587,0,4.685,2.097,4.685,4.685v32.787c0,2.586-2.098,4.683-4.685,4.683H27.361c-2.587,0-4.684-2.097-4.684-4.683V33.049C22.678,30.461,24.774,28.364,27.361,28.364z"></path>
                  <path class="highlight" d="M27.361,28.364h45.276c2.587,0,4.685,1.786,4.685,3.99v27.929c0,2.205,0,3.992,0,3.992H22.678c0,0,0-1.787,0-3.992V32.354C22.678,30.15,24.774,28.364,27.361,28.364z"></path>
                  <path class="logo" d="M49.999,64.757c1.294,0,2.342,1.05,2.342,2.343c0,1.292-1.049,2.342-2.342,2.342c-1.292,0-2.342-1.05-2.342-2.342C47.657,65.807,48.706,64.757,49.999,64.757z"></path>
                </g>
              </svg>
            </span>
            <h5>TR&Aacute;MITES ONLINE</h5>
            <p>F&aacute;cil, r&aacute;pido y sin moverte de tu casa. <strong>Hac&eacute; click aqu&iacute;!</strong></p>
          </div>
        </a>
        <a style="color:inherit" href="#vecino" title="">
          <div class="services-offer">
            <span class="svg-icon flat-filled" id="filled-message">
              <svg class="flat_icon" xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 100 100">
                <path class="circle" d="M50,2.125c26.441,0,47.875,21.434,47.875,47.875c0,26.441-21.434,47.875-47.875,47.875C17.857,97.875,2.125,76.441,2.125,50C2.125,23.559,23.559,2.125,50,2.125z"></path>
                <g class="icon">
                  <path class="back" d="M75.139,28.854h-3.807l-8.125-8.125c-0.381-0.38-0.999-0.382-1.381,0l-8.124,8.125H36.428c-2.79,0-5.05,2.261-5.05,5.048v25.247c0,2.79,2.26,5.051,5.05,5.051h38.711c2.789,0,5.05-2.261,5.05-5.051V33.902C80.188,31.115,77.928,28.854,75.139,28.854z"></path>
                  <path class="front" d="M63.571,35.8H24.862c-2.789,0-5.05,2.262-5.05,5.049v25.247c0,2.788,2.261,5.049,5.05,5.049h3.806l8.125,8.125c0.382,0.381,1,0.383,1.381,0l8.125-8.125h17.275c2.788,0,5.05-2.261,5.05-5.049V40.85C68.62,38.062,66.361,35.8,63.571,35.8z"></path>
                  <path class="dots" d="M34.743,50.108c-1.858,0-3.365,1.507-3.365,3.366c0,1.86,1.506,3.367,3.365,3.367c1.86,0,3.367-1.507,3.367-3.367C38.109,51.615,36.603,50.108,34.743,50.108z M44.842,50.108c-1.858,0-3.367,1.507-3.367,3.366c0,1.86,1.507,3.367,3.367,3.367c1.859,0,3.366-1.507,3.366-3.367C48.208,51.615,46.701,50.108,44.842,50.108z M54.94,50.108c-1.857,0-3.365,1.507-3.365,3.366c0,1.86,1.506,3.367,3.365,3.367c1.86,0,3.366-1.507,3.366-3.367C58.307,51.615,56.8,50.108,54.94,50.108z"></path>
                </g>
              </svg>
            </span>
            <h5>ATENCI&Oacute;N AL VECINO</h5>
            <p>Comunicate con nosotros!</p>
          </div>
        </a>
        <figure class="wpb_wrapper vc_figure">
          <a href="http://lasvarillas.gov.ar/" target="_blank" class="vc_single_image-wrapper vc_box_border_grey">
            <img src="assets/emav/asset_0001.webp" alt="lamuni_512">
          </a>
        </figure>
      </div>
    </div>
  </div>
</section>

<section id="equipo" class="section equipo">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="section-header">
          <h4>EQUIPO DE TRABAJO</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="three columns">
        <div class="team-wrap">
          <img src="assets/emav/asset_0002.webp" alt="Ing. Diego Gonz&aacute;lez">
          <h5>Ing. Diego Gonz&aacute;lez</h5>
          <p>Director</p>
          <div class="team-line"></div>
          <div class="team-desc">Organiza, dirige y administra EMAV. Realiza todos los actos, operaciones y contratos civiles, comerciales, financieros, administrativos y de cualquier otra &iacute;ndole.</div>
        </div>
      </div>
      <div class="three columns">
        <div class="team-wrap">
          <img src="assets/emav/asset_0003.webp" alt="Gerardo Pochettino">
          <h5>Gerardo Pochettino</h5>
          <p>Jefe de redes</p>
          <div class="team-line"></div>
          <div class="team-desc">Tiene a su cargo el personal de cuadrilla, el control de stock de materiales y la vigilancia del tanque de agua.</div>
        </div>
      </div>
      <div class="three columns">
        <div class="team-wrap">
          <img src="assets/emav/asset_0004.webp" alt="Cra. Carina Sarmiento">
          <h5>Cra. Carina Sarmiento</h5>
          <p>Jefa de &aacute;rea administrativa</p>
          <div class="team-line"></div>
          <div class="team-desc">Lleva adelante la administraci&oacute;n contable de EMAV. Encargada de compra y pagos de la empresa. Controla las tareas realizadas por los empleados administrativos.</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="historia" class="section historia">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="section-header">
          <h4>HISTORIA</h4>
        </div>
        <div id="cd-timeline" class="cd-container timeline-express">
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture" style="background:#0071bc">
              <span class="fa fa-circle"></span>
            </div>
            <div class="cd-timeline-content">
              <div class="cd-timeline-title-container">
                <h2 class="cd-timeline-item-title">1946</h2>
              </div>
              <div class="the-excerpt">
                <p>Comienza la construcci&oacute;n de la Planta de Potabilizaci&oacute;n de Agua en las Varillas</p>
              </div>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture" style="background:#0071bc">
              <span class="fa fa-circle"></span>
            </div>
            <div class="cd-timeline-content">
              <div class="cd-timeline-title-container">
                <h2 class="cd-timeline-item-title">1953</h2>
              </div>
              <div class="the-excerpt">
                <p>Obras Sanitarias de la Naci&oacute;n (OSN) inaugura la distribuci&oacute;n de red domiciliaria en la ciudad</p>
              </div>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture" style="background:#0071bc">
              <span class="fa fa-circle"></span>
            </div>
            <div class="cd-timeline-content">
              <div class="cd-timeline-title-container">
                <h2 class="cd-timeline-item-title">1980</h2>
              </div>
              <div class="the-excerpt">
                <p>OSN pasa a llamarse Direcci&oacute;n General Obras Sanitarias Provincial dependiente del Ministerio de Obras P&uacute;blicas del Gobierno de la Provincia de C&oacute;rdoba</p>
              </div>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture" style="background:#0071bc">
              <span class="fa fa-circle"></span>
            </div>
            <div class="cd-timeline-content">
              <div class="cd-timeline-title-container">
                <h2 class="cd-timeline-item-title">1985</h2>
              </div>
              <div class="the-excerpt">
                <p>La Direcci&oacute;n General Obras Sanitarias Provincial se transforma en EPOS (Empresa Provincial de Obras Sanitarias)</p>
              </div>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture" style="background:#0071bc">
              <span class="fa fa-circle"></span>
            </div>
            <div class="cd-timeline-content">
              <div class="cd-timeline-title-container">
                <h2 class="cd-timeline-item-title">1992</h2>
              </div>
              <div class="the-excerpt">
                <p>EPOS se convierte en DiPAS (Direcci&oacute;n Provincial de Agua y Saneamiento)</p>
              </div>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture" style="background:#0071bc">
              <span class="fa fa-circle"></span>
            </div>
            <div class="cd-timeline-content">
              <div class="cd-timeline-title-container">
                <h2 class="cd-timeline-item-title">1997</h2>
              </div>
              <div class="the-excerpt">
                <p>La administraci&oacute;n del agua de Las Varillas pasa a manos del municipio local y se crea Obras Sanitarias Municipal (OSM)</p>
              </div>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture" style="background:#0071bc">
              <span class="fa fa-circle"></span>
            </div>
            <div class="cd-timeline-content">
              <div class="cd-timeline-title-container">
                <h2 class="cd-timeline-item-title">2000</h2>
              </div>
              <div class="the-excerpt">
                <p>Se funda EMAV (Empresa Municipal Aguas Varillenses)</p>
              </div>
            </div>
          </div>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture" style="background:#0071bc">
              <span class="fa fa-circle"></span>
            </div>
            <div class="cd-timeline-content">
              <div class="cd-timeline-title-container">
                <h2 class="cd-timeline-item-title">2019</h2>
              </div>
              <div class="the-excerpt">
                <p>La oficina administrativa se traslada desde el Palacio Municipal de Las Varillas (Sarmiento 89) a Dr. Diego Montoya 488 donde se encuentra la Planta de Potabilizaci&oacute;n</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="banner banner-quality" style="background-image: url('assets/emav/asset_0059.webp')">
  <div class="just_pattern"></div>
  <div class="container">
    <h3><span style="color:#ffffff">Trabajamos priorizando la calidad del servicio</span></h3>
  </div>
</section>

<section id="obras" class="section obras">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="section-header">
          <h4 style="text-align:center">OBRAS</h4>
        </div>
        <div class="portfolio-filters">
          <ul id="filter">
            <li><a href="#" class="current" data-filter="*">mostrar todo</a></li>
            <li><a href="#" data-filter=".ampliaciones">AMPLIACIONES</a></li>
            <li><a href="#" data-filter=".instalaciones">INSTALACIONES</a></li>
            <li><a href="#" data-filter=".mantenimiento">MANTENIMIENTO</a></li>
            <li><a href="#" data-filter=".reparaciones">REPARACIONES</a></li>
            <li><a href="#" data-filter=".varias">VARIAS</a></li>
          </ul>
        </div>
        <ul class="portfolio-wrap">
          <li class="portfolio-box instalaciones">
            <img src="assets/emav/asset_0005.webp" alt="Desvio Transito Pesado">
            <div class="mask"></div>
            <h4>Desvio Transito Pesado</h4>
          </li>
          <li class="portfolio-box mantenimiento">
            <img src="assets/emav/asset_0006.webp" alt="Purgado de hidrantes">
            <div class="mask"></div>
            <h4>Purgado de hidrantes</h4>
          </li>
          <li class="portfolio-box instalaciones">
            <img src="assets/emav/asset_0007.webp" alt="Ituzaing&oacute; y Leopoldo Lugones">
            <div class="mask"></div>
            <h4>Ituzaing&oacute; y Leopoldo Lugones</h4>
          </li>
          <li class="portfolio-box ampliaciones">
            <img src="assets/emav/asset_0008.webp" alt="Caritas Barrio Juan XXIII">
            <div class="mask"></div>
            <h4>Caritas Barrio Juan XXIII</h4>
          </li>
          <li class="portfolio-box instalaciones">
            <img src="assets/emav/asset_0009.webp" alt="Ituzaing&oacute; y Chacabuco">
            <div class="mask"></div>
            <h4>Ituzaing&oacute; y Chacabuco</h4>
          </li>
          <li class="portfolio-box mantenimiento">
            <img src="assets/emav/asset_0010.webp" alt="Sector Marca SA y Nuevo Canal">
            <div class="mask"></div>
            <h4>Sector Marca SA y Nuevo Canal</h4>
          </li>
          <li class="portfolio-box mantenimiento">
            <img src="assets/emav/asset_0011.webp" alt="Canal Central Las Varillas y Canal Bajo Hondo">
            <div class="mask"></div>
            <h4>Canal Central Las Varillas y Canal Bajo Hondo</h4>
          </li>
          <li class="portfolio-box ampliaciones">
            <img src="assets/emav/asset_0012.webp" alt="Pagani Anexo">
            <div class="mask"></div>
            <h4>Pagani Anexo</h4>
          </li>
          <li class="portfolio-box instalaciones">
            <img src="assets/emav/asset_0013.webp" alt="Caldara">
            <div class="mask"></div>
            <h4>Caldara</h4>
          </li>
          <li class="portfolio-box instalaciones">
            <img src="assets/emav/asset_0014.webp" alt="Ruta provincial N&deg; 13">
            <div class="mask"></div>
            <h4>Ruta provincial N&deg; 13</h4>
          </li>
          <li class="portfolio-box reparaciones">
            <img src="assets/emav/asset_0015.webp" alt="Diego Montoya y Esc. Luis Morelli">
            <div class="mask"></div>
            <h4>Diego Montoya y Esc. Luis Morelli</h4>
          </li>
          <li class="portfolio-box reparaciones">
            <img src="assets/emav/asset_0016.webp" alt="Diego Montoya y San Mart&iacute;n">
            <div class="mask"></div>
            <h4>Diego Montoya y San Mart&iacute;n</h4>
          </li>
          <li class="portfolio-box ampliaciones">
            <img src="assets/emav/asset_0017.webp" alt="Almafuerte IV">
            <div class="mask"></div>
            <h4>Almafuerte IV</h4>
          </li>
          <li class="portfolio-box reparaciones">
            <img src="assets/emav/asset_0018.webp" alt="La Seren&iacute;sima">
            <div class="mask"></div>
            <h4>La Seren&iacute;sima</h4>
          </li>
          <li class="portfolio-box varias">
            <img src="assets/emav/asset_0019.webp" alt="Visita CoTAC">
            <div class="mask"></div>
            <h4>Visita CoTAC</h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="vecino" class="section vecino">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="section-header">
          <h4>ATENCI&Oacute;N AL VECINO</h4>
        </div>
        <form class="contact-form">
          <p>
            <label>Nombre y Apellido (requerido)<br>
              <span class="field-wrap"><input size="40" class="required" aria-required="true" type="text" name="your-name"></span>
            </label>
          </p>
          <p>
            <label>DNI (requerido)<br>
              <span class="field-wrap"><input class="required" min="2000000" max="48999999" type="number" name="DNI"></span>
            </label>
          </p>
          <p>
            <label>Correo electr&oacute;nico (requerido)<br>
              <span class="field-wrap"><input size="40" class="required" type="email" name="your-email"></span>
            </label>
          </p>
          <p>
            <label>Tel&eacute;fono<br>
              <span class="field-wrap"><input size="40" type="tel" name="telefono"></span>
            </label>
          </p>
          <p>
            <label>Asunto<br>
              <span class="field-wrap"><input size="40" type="text" name="your-subject"></span>
            </label>
          </p>
          <p>
            <label>Mensaje<br>
              <span class="field-wrap"><textarea cols="40" rows="10" name="your-message"></textarea></span>
            </label>
          </p>
          <p><input class="submit-btn" type="submit" value="Enviar"></p>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="banner banner-sustainable" style="background-image: url('assets/emav/asset_0060.webp')">
  <div class="just_pattern"></div>
  <div class="container">
    <h3><span style="color:#ffffff">Promovemos el desarrollo sustentable</span></h3>
  </div>
</section>

<section id="documentos" class="section documentos">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="section-header">
          <h4 style="text-align:center">DOCUMENTOS</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="three columns">
        <div class="doc-card">
          <img src="assets/emav/asset_0020.webp" alt="documento">
          <h5>ORDENANZA MUNICIPAL N&ordm; 08/02</h5>
          <p style="text-align:center">Reglamento de usuarios EMAV</p>
          <a class="btn-download" href="https://emav.com.ar/wp-content/uploads/2017/02/Ord-0802-ManualUsuarioEMAV.pdf" target="_blank">
            <i class="fa fa-arrow-down"></i> Descargar
          </a>
        </div>
      </div>
      <div class="three columns">
        <div class="doc-card">
          <div class="doc-icon-placeholder"></div>
          <h5>ORDENANZA MUNICIPAL N&ordm; 90/00</h5>
          <p style="text-align:center">Creaci&oacute;n EMAV</p>
          <a class="btn-download" href="https://emav.com.ar/wp-content/uploads/2017/02/Ord-9000-Creaci%C3%B3nEMAV.pdf" target="_blank">
            <i class="fa fa-arrow-down"></i> Descargar
          </a>
        </div>
      </div>
      <div class="three columns">
        <div class="doc-card">
          <div class="doc-icon-placeholder"></div>
          <h5>ORDENANZA MUNICIPAL N&ordm; 24/2023</h5>
          <p style="text-align:center">Reglamento Red Cloacal</p>
          <a class="btn-download" href="https://emav.com.ar/wp-content/uploads/2023/09/Reglamento-para-Conexiones-a-la-Red-Colectora-Cloacal-EMAV_2023.pdf" target="_blank">
            <i class="fa fa-arrow-down"></i> Descargar
          </a>
        </div>
      </div>
      <div class="three columns">
        <div class="doc-card">
          <img src="assets/emav/asset_0021.webp" alt="plano catastral">
          <h5>CIUDAD DE LAS VARILLAS</h5>
          <p style="text-align:center">Plano catastral</p>
          <a class="btn-download" href="https://emav.com.ar/wp-content/uploads/2017/02/PLANO-LAS-VARILLAS-2017-a.pdf" target="_blank">
            <i class="fa fa-arrow-down"></i> Descargar
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contacto" class="section contacto">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <div class="contact-info">
          <p><strong>Direcci&oacute;n</strong></p>
          <p>Administraci&oacute;n y<br>Establecimiento de Potabilizaci&oacute;n:<br>Dr. Diego Montoya 488</p>
          <p>&nbsp;</p>
          <p><strong>Tel&eacute;fonos</strong></p>
          <p>Administraci&oacute;n: 03533-429611<br>Guardia: 03533-15431001<br>WhatsApp: +54-93533-476710</p>
          <p>&nbsp;</p>
          <p><strong>E-mail</strong></p>
          <p>administracion&#64;emav.com.ar<br>atencionalvecino&#64;emav.com.ar</p>
        </div>
      </div>
      <div class="six columns">
        <div class="map-placeholder">
          <div class="map-inner">
            <p>Dr. Diego Montoya 488, Las Varillas, C&oacute;rdoba</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="footer">
  <div class="container">
    <div class="twelve columns">
      &copy;2025 Todos los derechos reservados. EMAV | Empresa Municipal Aguas Varillenses.
    </div>
  </div>
</footer>
