<div class="w-100 d-flex flex-column" style="background-color: #f2f2f2;">
    <div class="bg-light">
        <div class="container px-4 py-3">
            <div class="d-flex">
                <div id="logo" class="d-flex">
                    <h1 class="m-0"><b>ARCA</b></h1>
                    <div class=" mx-3 my-2" style="place-content: center; border: 1px solid"></div>
                    <div id="logo-2" style="line-height: 1.1;place-content: center;">AGENCIA DE RECAUDACION <br>Y CONTROL ADUANERO</div>
                </div>
            </div>
        </div>
    </div>
    <div style="background: #242c4f; border-top: 3px solid #5ab6cc;">
        <div class="container px-4 py-3">
            <div class="d-flex text-light">
                <div style="line-height: 1.1;place-content: center;">Inicio > <b>Mis Servicios</b></div>
            </div>
        </div>
    </div>
    <div id="main" class="py-6 px-4 container">
        <h4 class="text-start mb-5"><b>Mis Servicios</b></h4>
        <div class="input-group-lg mb-5">
            <input type="text" placeholder="Busca y/o agrega servicios" class="form-control">
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
                <div class="card h-100 px-4 py-3">
                    <span><b>CCMA - CUENTA CORRIENTE DE CONTRIBUYENTES MONOTRIBUTISTAS Y AUTONOMOS</b></span>
                    <span>Exhibe información de Monotributistas y Autónomos detallando mensualmente pagos, obligaciones, saldos e intereses por período del contribuyente.</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
                <a routerLink="/arca/servicios/comprobantes">
                    <div class="card h-100 px-4 py-3">
                        <span><b>COMPROBANTES EN LÍNEA</b></span>
                        <span>Sistema de emisión de comprobantes electrónicos.</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
                <div class="card h-100 px-4 py-3">
                    <span><b>DECLARACIÓN DE CBU</b></span>
                    <span>Declaración de CBU</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
                <div class="card h-100 px-4 py-3">
                    <span><b>DECLARACIÓN EN LINEA</b></span>
                    <span>Confección automática del F931 SIJP, para empleadores que registren hasta 100 empleados, con información existente</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
                <div class="card h-100 px-4 py-3">
                    <span><b>MIS COMPROBANTES</b></span>
                    <span>Consulta de Comprobantes Electrónicos Emitidos y Recibidos</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
                <div class="card h-100 px-4 py-3">
                    <span><b>PORTAL IVA</b></span>
                    <span>Presentación del Libro de IVA Digital e IVA listo</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
                <div class="card h-100 px-4 py-3">
                    <span><b>DGR PROVINCIA DE CÓRDOBA</b></span>
                    <span>Acceso al Sitio Seguro de la Dirección General de Rentas de la Provincia de Córdoba</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
                <div class="card h-100 px-4 py-3">
                    <span><b>SIFERE LOCALES - PROVINCIA DE CÓRDOBA</b></span>
                    <span>SIFERE LOCALES - Provincia de Córdoba</span>
                </div>
            </div>
        </div>

        <div class="d-flex w-100 justify-content-end">
            <button class="btn btn-outline-primary" [routerLink]="['/arca']">Volver</button>
        </div>

    </div>
    <div id="footer" class="text-light">
        <div class="container px-4 py-5">
            <h1>ARCA</h1>
            <hr>
            <p class="text-end">Contactos</p>
        </div>
    </div>
</div>