#logo{
    color: #242c4f;
}
#logo-2{
    font-size: 15px;
}
#footer{
    background: #242c4f;
}
.mobile {
    display: none;
}
#main{
    margin-top: 80px;
    margin-bottom: 80px;
}
input{
    background: url(https://portalcf.cloud.afip.gob.ar/portal/app/images/search_36.png) no-repeat 98.5% 50% #fff;
    box-shadow: 0 2px 5px rgb(0 0 0 / 25%);
    padding: 10px;
}
.card{
    box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
    border-radius: 0.25rem !important;
}
.row.col-xs-12{
    margin: 0 15px 30px !important;
    margin-left: 15px;
    margin-bottom: 30px;
}
@media (max-width: 950px) {
    #logo-2{
        font-size: 12px;
    }
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}