<header>
  <nav class="navbar navbar-default">
    <div class="containerMenu">
      <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img src="assets/banco/asset_0001.svg" alt="Logo del Banco">
          </a>
        </div>
        <div class="hamburger-icon">
          <i class="bi bi-list"></i>
        </div>
        <ul class="nav navbar-nav d-flex flex-row h-100">
          <li class="active"><a href="#">Personas</a></li>
          <li><a href="#">Empresas</a></li>
          <li><a href="#">Institucional</a></li>
        </ul>
        <div class="content-Homebanking-Header">
          <a class="btn-Homebanking-Header Turnos" href="#">Centro de ayuda</a>
          <a class="btn-Homebanking-Header bnamasBtn" href="#">
            <img src="assets/banco/asset_0002.svg" alt="BNA+">
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="sliderHome d-none">
  <div class="bx-wrapper">
    <div class="bx-viewport">
      <ul class="bxslider">
        <li class="slider-01">
          <a href="#"><img src="assets/banco/asset_0003.jpg" alt="Mastercard Messi en BNA"></a>
        </li>
      </ul>
    </div>
  </div>
  <div id="bx-pager">
    <a class="pager-01 active" href="#"><div class="arrow_box"></div>Mastercard Messi en BNA</a>
    <a class="pager-01" href="#"><div class="arrow_box"></div>Promo Visa</a>
    <a class="pager-01" href="#"><div class="arrow_box"></div>Karol G</a>
    <a class="pager-01" href="#"><div class="arrow_box"></div>Tra&eacute; tus d&oacute;lares</a>
    <a class="pager-01" href="#"><div class="arrow_box"></div>Tu sueldo rinde m&aacute;s</a>
    <a class="pager-01" href="#"><div class="arrow_box"></div>Cl&aacute;sicos del ciberdelito</a>
  </div>
</div>

<main class="contenido d-none">
  <div class="containerContent">
    <div class="row">
      <div class="col-md-9">
        <div class="tabDouble tabSlider">
          <div class="tab-content">
            <div class="tab-pane active">
              <div class="bx-wrapper">
                <ul class="slider">
                  <li><a href="#"><img src="assets/banco/asset_0004.png" alt="Más Hogares"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="tabDouble tabSlider">
          <div class="tab-content">
            <div class="tab-pane active">
              <div class="bx-wrapper">
                <ul class="slider">
                  <li><a href="#"><img src="assets/banco/asset_0005.png" alt="Seguros de autos"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="tabSmall">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#">Cotizaci&oacute;n Billetes<div class="arrow"></div></a></li>
            <li><a href="#">Cotizaci&oacute;n Divisas<div class="arrow"></div></a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active">
              <table class="table cotizacion">
                <thead>
                  <tr><th class="fechaCot">25/6/2026</th><th>Compra</th><th>Venta</th></tr>
                </thead>
                <tbody>
                  <tr><td class="tit">Dolar U.S.A</td><td>1445,00</td><td>1495,00</td></tr>
                  <tr><td class="tit">Euro</td><td>1625,00</td><td>1725,00</td></tr>
                  <tr><td class="tit">Real *</td><td>28100,00</td><td>29600,00</td></tr>
                </tbody>
              </table>
              <a href="#" class="link-cotizacion">Ver hist&oacute;rico</a>
              <div class="legal">Hora Actualizaci&oacute;n: 16:56</div>
              <div class="legal">(*) cotizaci&oacute;n cada 100 unidades.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<aside class="containerIconosHome d-none">
  <div class="IconosHome containerContent">
    <ul class="nav nav-pills nav-justified">
      <li class="imgIconos1"><a href="#">Cont&aacute;ctenos</a></li>
      <li class="imgIconos2"><a href="#">Tel&eacute;fonos &uacute;tiles</a></li>
      <li class="imgIconos3"><a href="#">Sucursales y Cajeros</a></li>
      <li class="imgIconos5">
        <a href="#" class="face" title="Facebook"></a>
        <a href="#" class="inst" title="Instagram"></a>
        <a href="#" class="twit" title="Twitter"></a>
        <a href="#" class="you" title="Youtube"></a>
        <a href="#" class="linke" title="Linkedin"></a>
      </li>
      <li class="imgIconos4">
        <div class="title">Centro de Atenci&oacute;n al Cliente</div>
        <div class="tel">0810-666-4444</div>
      </li>
    </ul>
  </div>
</aside>

<footer class="d-none">
  <div class="containerContent">
    <div class="row">
      <div class="col-md-9">
        <div class="MenuHomeHor">
          <ul class="nav nav-pills nav-justified">
            <li><a href="#">Comparaci&oacute;n de Comisiones</a></li>
            <li><a href="#">Informaci&oacute;n al Usuario Financiero</a></li>
            <li><a href="#">Tr&aacute;mites Judiciales</a></li>
            <li><a href="#">Empretec</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 banner-usuariosfinancieros">
        <a href="#">
          <img src="assets/banco/asset_0006.svg" alt="BCRA" class="banner-desktop">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="footerNew">
          <dd class="content_btn_footer"><a href="#" class="btn btn-primary">Arrepentimiento/Baja</a></dd>
          <dd class="content_btn_footer"><a href="#" class="btn btn-primary">Contratos de adhesi&oacute;n</a></dd>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="footerNew">
          <div class="cuadroLegales">
            <dd><a href="#" class="legal">Mapa del sitio</a></dd><span>-</span>
            <dd><a href="#" class="legal">English version</a></dd><span>-</span>
            <dd><a href="#" class="legal">T&eacute;rminos y Condiciones</a></dd><span>-</span>
            <dd><a href="#" class="legal">Defensa del Consumidor</a></dd><span>-</span>
            <dd><a href="#" class="legal">Libro de quejas online (CABA)</a></dd><span>-</span>
            <dd><a href="#" class="legal">Prevenci&oacute;n del lavado de activos</a></dd><span>-</span>
            <dd><a href="#" class="legal">N&oacute;mina de Personas Expuestas Pol&iacute;ticamente</a></dd><span>-</span>
            <dd><a href="#" class="legal">Informaci&oacute;n para Inversores</a></dd><span>-</span>
            <dd><a href="#" class="legal">Pol&iacute;tica de privacidad y protecci&oacute;n de datos</a></dd><span>-</span>
            <dd><a href="#" class="legal">Informaci&oacute;n de Seguridad</a></dd><span>-</span>
            <dd><a href="#" class="legal">Informaci&oacute;n FATCA - CRS/OCDE</a></dd>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="custom-chatbot-wrapper">
  <div class="launcher-container">
    <button class="Launcher" type="button">
      <img class="launcher-img-large" src="assets/banco/asset_0007.png" alt="Chatbot">
      <img class="launcher-img-small" src="assets/banco/asset_0008.png" alt="Chatbot small">
    </button>
  </div>
</div>

<div class="banner">
  <img src="assets/banco/asset_0003.jpg" alt="" class="desktop">
  <img src="assets/banco/asset_0003.jpg" alt="" class="tablet">
  <img src="assets/banco/banner-mobile.png" alt="" class="mobile">
</div>
<div class="body">
  <div class="tablet p-3">
    <div class="content-Homebanking-Header-mobile p-3" style="background-color: #eee;">
      <a class="btn-Homebanking-Header Turnos w-100" href="#">Centro de ayuda</a>
      <a class="btn-Homebanking-Header bnamasBtn w-100 text-center" href="#">
        <img src="assets/banco/asset_0002.svg" alt="BNA+">
      </a>
    </div>
  </div>
  <div class="mobile p-3">
    <div class="content-Homebanking-Header-mobile p-3" style="background-color: #eee;">
      <a class="btn-Homebanking-Header Turnos w-100" href="#">Centro de ayuda</a>
      <a class="btn-Homebanking-Header bnamasBtn w-100 text-center" href="#">
        <img src="assets/banco/asset_0002.svg" alt="BNA+">
      </a>
    </div>
  </div>
  <img src="assets/banco/landing-body-desktop.png" alt="" class="desktop">
  <img src="assets/banco/body-tablet.png" alt="" class="tablet">
  <img src="assets/banco/body-mobile.png" alt="" class="mobile">
</div>