<div id="background" class="vh-100 vw-100">
    <div id="header" class="cont d-flex justify-content-between">
        <div class="align-content-center">
            <img src="assets/arca/comprobantes/logo_afip.png" class="img-fluid w-100" />
        </div>
        <div>
            <p class="header-data px-2"><b>Usuario:</b>  20425116925 - OGGERO MATIAS NORBERTO</p>
        </div>
        <div>
            <img src="assets/arca/comprobantes/logo-rcel.png" class="img-fluid w-100" />
        </div>
    </div>
    <div id="main" class="cont">
        <form action="">
            @if(tipoComprobante==''){
                <app-factura-c-2></app-factura-c-2>
                <!--<app-tipo-comprobante (seleccionTipoComprobante)="tipoComprobante=$event"></app-tipo-comprobante>-->
            }
            @if(tipoComprobante=='a'){
                <app-factura-c></app-factura-c>
            }
            @if(tipoComprobante=='b'){
                <app-factura-c></app-factura-c>
            }
            @if(tipoComprobante=='c'){
                <!--<app-factura-c (volverTipoComprobante)="tipoComprobante=''"></app-factura-c>-->
                <app-factura-c-2></app-factura-c-2>
            }
        </form>
	</div>
</div>






