<header id="headerfull_box">
  <div id="header">
    <div id="logo">
      <a href="https://www.cesaruran.com/">
        <span class="logo-text">Cesar Uran<br><small>inmobiliaria</small></span>
      </a>
    </div>
    <div id="data_contacto">
      <div id="tel"><a href="tel:3533 477700"><i class="fa fa-phone"></i> <span>3533 477700</span></a></div>
      <div id="tel2">
        <a href="https://api.whatsapp.com/send?phone=5493533477700&amp;text=Quisiera%20contactarme%20con%20ustedes" target="_blank">
          <i class="fa fa-whatsapp"></i> <span>+5493533477700</span>
        </a>
      </div>
      <span class="pipe">|</span>
      <div id="email"><a href="mailto:jcesaruran&#64;gmail.com">jcesaruran&#64;gmail.com</a></div>
      <a href="https://www.facebook.com/uraninmobiliaria" target="_blank" class="redes"><img src="assets/inmobiliaria/asset_0027.svg" alt="Facebook"></a>
      <a href="https://www.instagram.com/cesaruran.inmobiliaria" target="_blank" class="redes"><img src="assets/inmobiliaria/asset_0029.svg" alt="Instagram"></a>
    </div>
  </div>
  <nav id="menu_barra">
    <ul id="menu">
      <li><a href="https://www.cesaruran.com/Propiedades">Propiedades</a></li>
      <li><a href="https://www.cesaruran.com/Venta">Venta</a></li>
      <li><a href="https://www.cesaruran.com/s/La-Empresa">La Empresa</a></li>
      <li><a href="https://www.cesaruran.com/Tasacion">Tasaci&oacute;n</a></li>
      <li><a href="https://www.cesaruran.com/Contacto">Contacto</a></li>
    </ul>
    <div id="buscador_rapido">
      <input type="text" id="fastsearch" placeholder="Buscar por calle o c&oacute;digo">
      <i class="fa fa-search"></i>
    </div>
  </nav>
</header>

<section id="buscador02">
  <div class="bx-wrapper">
    <div class="bx-viewport">
      <div id="bannerhome">
        <img src="assets/inmobiliaria/asset_0001.jpg" alt="Cesar Uran inmobiliaria">
      </div>
    </div>
  </div>
</section>

<section id="buscador-box">
  <div id="buscador03">
    <h1 class="buscador-titulo">ENCUENTRE SU<br><span>PROPIEDAD</span></h1>
    <div id="buscador-selects">
      <div id="operacion" class="buscador-item">
        <div class="buscador-item-label">Operaci&oacute;n</div>
        <select class="buscador-select">
          <option value="">Todas</option>
          <option value="Venta">Venta</option>
          <option value="Alquiler">Alquiler</option>
          <option value="Alquiler Temporal">Alquiler Temporal</option>
        </select>
      </div>
      <div id="propiedad" class="buscador-item">
        <div class="buscador-item-label">Tipo</div>
        <select class="buscador-select">
          <option value="">Todos</option>
          <option value="Departamento">Departamento</option>
          <option value="Casa">Casa</option>
          <option value="Terreno">Terreno</option>
          <option value="Local">Local</option>
          <option value="Oficina">Oficina</option>
        </select>
      </div>
      <div id="barrio" class="buscador-item">
        <div class="buscador-item-label">Barrio</div>
        <select class="buscador-select">
          <option value="">Todos</option>
          <option value="Centro">Centro</option>
          <option value="Nueva Cordoba">Nueva C&oacute;rdoba</option>
          <option value="Las Varillas">Las Varillas</option>
          <option value="General Paz">General Paz</option>
        </select>
      </div>
      <div id="ambientes" class="buscador-item">
        <div class="buscador-item-label">Ambientes</div>
        <select class="buscador-select">
          <option value="">Todos</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4+</option>
        </select>
      </div>
      <div id="codref" class="buscador-item">
        <input placeholder="Buscar por c&oacute;digo" id="buscar-codigo">
      </div>
    </div>
    <div id="buscador-btn">Buscar</div>
  </div>
</section>

<section id="content_wrapper" class="content_wrapper wrapperhome">
  <div id="fullimg-info" class="montserrat">
    <p><span>Nuestro mayor deseo... Conseguir el hogar de tus sue&ntilde;os.</span></p>
  </div>

  <section id="prop-box">
    <div id="prop-list" class="home">
      <h4 class="destacados-titulo">Propiedades destacadas</h4>
      <ul class="resultados-list-home">
        <li>
          <a href="https://www.cesaruran.com/p/6931948-Departamento-en-Venta-en-Centro-San-Martin-al-100">
            <div class="prop-img">
              <div class="prop-data"><span>58 m&sup2;</span><i class="fa fa-building"></i></div>
              <div class="prop-data2"><span>-</span><i class="fa fa-bed"></i></div>
              <img class="dest-img" src="assets/inmobiliaria/asset_0002.jpg" alt="Departamento en Venta en Centro">
            </div>
            <div class="prop-desc">
              <div class="prop-desc-tipo-ub">Departamento en Venta en Centro, Villa Carlos Paz</div>
              <div class="prop-desc-dir">San Martin al 100</div>
            </div>
          </a>
          <div class="prop-valor-nro">
            USD108.000
            <div class="codref">CAP6931948</div>
          </div>
        </li>
        <li>
          <a href="https://www.cesaruran.com/p/6618719-Departamento-en-Venta-en-Nueva-Cordoba-V%C3%A9lez-Sarsfield-al-1300">
            <div class="prop-img">
              <div class="prop-data"><span>61.77 m&sup2;</span><i class="fa fa-building"></i></div>
              <div class="prop-data2"><span>2</span><i class="fa fa-bed"></i></div>
              <img class="dest-img" src="assets/inmobiliaria/asset_0003.jpg" alt="Departamento en Venta en Nueva Cordoba">
            </div>
            <div class="prop-desc">
              <div class="prop-desc-tipo-ub">Departamento en Venta en Nueva Cordoba, Cordoba Capital</div>
              <div class="prop-desc-dir">V&eacute;lez Sarsfield al 1300</div>
            </div>
          </a>
          <div class="prop-valor-nro">
            $160.845.000
            <div class="codref">CAP6618719</div>
          </div>
        </li>
        <li>
          <a href="https://www.cesaruran.com/p/5939846-Departamento-en-Venta-en-Nueva-Cordoba-Obispo-Trejo-al-600">
            <div class="prop-img">
              <div class="prop-data"><span>46 m&sup2;</span><i class="fa fa-building"></i></div>
              <div class="prop-data2"><span>2</span><i class="fa fa-bed"></i></div>
              <img class="dest-img" src="assets/inmobiliaria/asset_0004.jpg" alt="Departamento en Venta en Nueva Cordoba">
            </div>
            <div class="prop-desc">
              <div class="prop-desc-tipo-ub">Departamento en Venta en Nueva Cordoba, Cordoba Capital</div>
              <div class="prop-desc-dir">Obispo Trejo al 600</div>
            </div>
          </a>
          <div class="prop-valor-nro">
            USD89.500
            <div class="codref">CAP5939846</div>
          </div>
        </li>
        <li>
          <a href="https://www.cesaruran.com/p/6869886-Terreno-en-Venta-en-Las-Varillas-San-Martin--al-500">
            <div class="prop-img">
              <div class="prop-data"><span>198.0 m&sup2;</span><i class="fa fa-building"></i></div>
              <div class="prop-data2"><span>-</span><i class="fa fa-bed"></i></div>
              <img class="dest-img" src="assets/inmobiliaria/asset_0005.jpg" alt="Terreno en Venta en Las Varillas">
            </div>
            <div class="prop-desc">
              <div class="prop-desc-tipo-ub">Terreno en Venta en Las Varillas, San Justo</div>
              <div class="prop-desc-dir">San Martin al 500</div>
            </div>
          </a>
          <div class="prop-valor-nro">
            USD35.000
            <div class="codref">CLA6869886</div>
          </div>
        </li>
        <li>
          <a href="https://www.cesaruran.com/p/7090642-Departamento-en-Venta-en-Veneto-Village-AVENIDA-SAN-MARTIN-al-300">
            <div class="prop-img">
              <div class="prop-data"><span>53.52 m&sup2;</span><i class="fa fa-building"></i></div>
              <div class="prop-data2"><span>2</span><i class="fa fa-bed"></i></div>
              <img class="dest-img" src="assets/inmobiliaria/asset_0006.jpg" alt="Departamento en Venta en Veneto Village">
            </div>
            <div class="prop-desc">
              <div class="prop-desc-tipo-ub">Departamento en Venta en Veneto Village, Villa Parque Siquiman</div>
              <div class="prop-desc-dir">AVENIDA SAN MARTIN al 300</div>
            </div>
          </a>
          <div class="prop-valor-nro">
            USD125.000
            <div class="codref">CAP7090642</div>
          </div>
        </li>
        <li>
          <a href="https://www.cesaruran.com/p/7283065-Departamento-en-Venta-en-Villa-Carlos-Paz-San-Mart%C3%ADn-al-900">
            <div class="prop-img">
              <div class="prop-data"><span>73.95 m&sup2;</span><i class="fa fa-building"></i></div>
              <div class="prop-data2"><span>2</span><i class="fa fa-bed"></i></div>
              <img class="dest-img" src="assets/inmobiliaria/asset_0007.jpg" alt="Departamento en Venta en Villa Carlos Paz">
            </div>
            <div class="prop-desc">
              <div class="prop-desc-tipo-ub">Departamento en Venta en Villa Carlos Paz, Punilla</div>
              <div class="prop-desc-dir">San Mart&iacute;n al 900</div>
            </div>
          </a>
          <div class="prop-valor-nro">
            USD105.165
            <div class="codref">CAP7283065</div>
          </div>
        </li>
        <li>
          <a href="https://www.cesaruran.com/p/5068622-Casa-en-Venta-en-Las-Varillas-Concejal-Ra%C3%BAl-Sosa--al-1600">
            <div class="prop-img">
              <div class="prop-data"><span>125 m&sup2;</span><i class="fa fa-building"></i></div>
              <div class="prop-data2"><span>2</span><i class="fa fa-bed"></i></div>
              <img class="dest-img" src="assets/inmobiliaria/asset_0008.jpg" alt="Casa en Venta en Las Varillas">
            </div>
            <div class="prop-desc">
              <div class="prop-desc-tipo-ub">Casa en Venta en Las Varillas, San Justo</div>
              <div class="prop-desc-dir">Concejal Ra&uacute;l Sosa al 1600</div>
            </div>
          </a>
          <div class="prop-valor-nro">
            USD73.000
            <div class="codref">CHO5068622</div>
          </div>
        </li>
        <li>
          <a href="https://www.cesaruran.com/p/7220420-Departamento-en-Venta-en-General-Paz-Libertad-995">
            <div class="prop-img">
              <div class="prop-data"><span>53.50 m&sup2;</span><i class="fa fa-building"></i></div>
              <div class="prop-data2"><span>2</span><i class="fa fa-bed"></i></div>
              <img class="dest-img" src="assets/inmobiliaria/asset_0009.jpg" alt="Departamento en Venta en General Paz">
            </div>
            <div class="prop-desc">
              <div class="prop-desc-tipo-ub">Departamento en Venta en General Paz, Cordoba Capital</div>
              <div class="prop-desc-dir">Libertad 995</div>
            </div>
          </a>
          <div class="prop-valor-nro">
            USD142.097
            <div class="codref">CAP7220420</div>
          </div>
        </li>
        <li>
          <a href="https://www.cesaruran.com/p/5980977-Casa-en-Venta-en-Las-Varillas-Pje-Isla-Soledad-al-100">
            <div class="prop-img">
              <div class="prop-data"><span>220 m&sup2;</span><i class="fa fa-building"></i></div>
              <div class="prop-data2"><span>2</span><i class="fa fa-bed"></i></div>
              <img class="dest-img" src="assets/inmobiliaria/asset_0010.jpg" alt="Casa en Venta en Las Varillas">
            </div>
            <div class="prop-desc">
              <div class="prop-desc-tipo-ub">Casa en Venta en Las Varillas, San Justo</div>
              <div class="prop-desc-dir">Pje Isla Soledad al 100</div>
            </div>
          </a>
          <div class="prop-valor-nro">
            USD149.000
            <div class="codref">CHO5980977</div>
          </div>
        </li>
        <li>
          <a href="https://www.cesaruran.com/p/7084307-Casa-en-Venta-en-Villa-del-Lago-Borges-al-100">
            <div class="prop-img">
              <div class="prop-data"><span>1361 m&sup2;</span><i class="fa fa-building"></i></div>
              <div class="prop-data2"><span>3</span><i class="fa fa-bed"></i></div>
              <img class="dest-img" src="assets/inmobiliaria/asset_0011.jpg" alt="Casa en Venta en Villa del Lago">
            </div>
            <div class="prop-desc">
              <div class="prop-desc-tipo-ub">Casa en Venta en Villa del Lago, Villa Carlos Paz</div>
              <div class="prop-desc-dir">Borges al 100</div>
            </div>
          </a>
          <div class="prop-valor-nro">
            USD800.000
            <div class="codref">CHO7084307</div>
          </div>
        </li>
        <li>
          <a href="https://www.cesaruran.com/p/7053522-Casa-en-Venta-en-Las-Varillas-General-Roca-al-400">
            <div class="prop-img">
              <div class="prop-data"><span>104 m&sup2;</span><i class="fa fa-building"></i></div>
              <div class="prop-data2"><span>3</span><i class="fa fa-bed"></i></div>
              <img class="dest-img" src="assets/inmobiliaria/asset_0012.jpg" alt="Casa en Venta en Las Varillas">
            </div>
            <div class="prop-desc">
              <div class="prop-desc-tipo-ub">Casa en Venta en Las Varillas, San Justo</div>
              <div class="prop-desc-dir">General Roca al 400</div>
            </div>
          </a>
          <div class="prop-valor-nro">
            USD47.000
            <div class="codref">CHO7053522</div>
          </div>
        </li>
        <li>
          <a href="https://www.cesaruran.com/p/7152005-Terreno-en-Venta-en-San-Isidro-Sierra-de-los-Gigantes-50">
            <div class="prop-img">
              <div class="prop-data"><span>1260.0 m&sup2;</span><i class="fa fa-building"></i></div>
              <div class="prop-data2"><span>-</span><i class="fa fa-bed"></i></div>
              <img class="dest-img" src="assets/inmobiliaria/asset_0013.jpg" alt="Terreno en Venta en San Isidro">
            </div>
            <div class="prop-desc">
              <div class="prop-desc-tipo-ub">Terreno en Venta en San Isidro, Villa Allende</div>
              <div class="prop-desc-dir">Sierra de los Gigantes 50</div>
            </div>
          </a>
          <div class="prop-valor-nro">
            USD190.000
            <div class="codref">CLA7152005</div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</section>

<section id="contacto-forms-box">
  <div id="contacto-forms">
    <div id="contacto-box" class="contacto-forms-box">
      <div class="contacto-forms-titulo"><img src="assets/inmobiliaria/asset_0014.svg"><br>Contacto</div>
      <div class="form-box">
        <div><input id="contact_name" placeholder="Nombre"></div>
        <div><input id="contact_phone" placeholder="Tel&eacute;fono"></div>
        <div><input id="contact_cellphone" placeholder="Celular"></div>
        <div><input id="contact_email" placeholder="Email"></div>
        <div><textarea id="contact_msg" placeholder="Mensaje"></textarea></div>
        <div class="contacto-form-submit" style="cursor:pointer">Enviar</div>
      </div>
    </div>
    <div id="tasar-box" class="contacto-forms-box">
      <div class="contacto-forms-titulo"><img src="assets/inmobiliaria/asset_0015.svg"><br>Tasaciones</div>
      <div class="form-box">
        <div><input id="cot_name" placeholder="Nombre"></div>
        <div><input id="cot_phone" placeholder="Tel&eacute;fono"></div>
        <div><input id="cot_cellphone" placeholder="Celular"></div>
        <div><input id="cot_email" placeholder="Email"></div>
        <div><textarea id="cot_msg" placeholder="Descripci&oacute;n de la Propiedad"></textarea></div>
        <div class="contacto-form-submit" style="cursor:pointer">Enviar</div>
      </div>
    </div>
  </div>
</section>

<footer id="footerB-box">
  <div id="footerB">
    <div class="footerB-col logo">
      <div class="footerB-logo"><span class="logo-text">Cesar Uran<br><small>inmobiliaria</small></span></div>
      <br>Encontranos en
      <div class="footerB-tel"><a href="tel:3533 477700"><img src="assets/inmobiliaria/asset_0016.png">3533 477700</a></div>
      <div class="footerB-address">Avellaneda 275 - Las Varillas - C&oacute;rdoba</div>
    </div>
    <div class="footerB-col footerB-col-txt">
      <div class="footerB-txt">
        <p>URAN JULIO CESAR</p><hr>
      </div>
    </div>
    <div class="footerB-col footerB-col-redes">
      <b>Seguinos en</b><br>
      <div class="footerB-redes">
        <a href="https://www.facebook.com/uraninmobiliaria" target="_blank"><img src="assets/inmobiliaria/asset_0017.svg" width="40" height="40"></a>
        <a href="https://www.instagram.com/cesaruran.inmobiliaria" target="_blank"><img src="assets/inmobiliaria/asset_0018.svg" width="40" height="40"></a>
      </div>
      <b>Asociados con</b><br>
      <div class="asociaciones">
        <img src="assets/inmobiliaria/asset_0019.png" alt="CRS">
        <img src="assets/inmobiliaria/asset_0020.jpg" alt="CPCPI">
        <img src="assets/inmobiliaria/asset_0021.png" alt="cpicordoba">
        <img src="assets/inmobiliaria/asset_0022.jpg" alt="MLS">
        <img src="assets/inmobiliaria/asset_0023.jpg" alt="REALTOR">
      </div>
    </div>
    <div class="footerB-col qr footerB-col-nav">
      <b>&iquest;Qu&eacute; est&aacute;s buscando?</b><br><br>
      &middot; <a href="https://www.cesaruran.com/Terrenos">Terrenos</a><br>
      &middot; <a href="https://www.cesaruran.com/Departamentos">Departamentos</a><br>
      &middot; <a href="https://www.cesaruran.com/Casas">Casas</a><br>
      &middot; <a href="https://www.cesaruran.com/Quintas">Quintas</a><br>
      &middot; <a href="https://www.cesaruran.com/Oficinas">Oficinas</a><br>
      &middot; <a href="https://www.cesaruran.com/Locales">Locales</a><br>
      &middot; <a href="https://www.cesaruran.com/Edificios-Comerciales">Edificios comerciales</a><br>
      &middot; <a href="https://www.cesaruran.com/Campos">Campos</a><br>
      &middot; <a href="https://www.cesaruran.com/Cocheras">Cocheras</a><br>
      &middot; <a href="https://www.cesaruran.com/Hoteles">Hoteles</a><br>
      &middot; <a href="https://www.cesaruran.com/Naves-Industriales">Naves Industriales</a><br>
      &middot; <a href="https://www.cesaruran.com/PHs">PHs</a><br>
      &middot; <a href="https://www.cesaruran.com/Depositos">Depositos</a><br>
      &middot; <a href="https://www.cesaruran.com/Fondos-De-Comercio">Fondos De Comercio</a><br>
      &middot; <a href="https://www.cesaruran.com/Fincas">Fincas</a><br>
      &middot; <a href="https://www.cesaruran.com/Chacra">Chacra</a><br>
      &middot; <a href="https://www.cesaruran.com/Galpones">Galpones</a><br>
      <br>
      <a href="http://qr.afip.gob.ar/?qr=https://serviciosweb.afip.gob.ar/ClaveFiscal/qr/F960.aspx?req=e1ttZXRob2Q9Z2V0Rjk2MF1bcGVyc29uYT0yMDI4NDU1NDI4MV1bdGlwb2RvbWljaWxpbz0zXVtzZWN1ZW5jaWE9M11bdXJsPV19" target="_F960AFIPInfo"><img src="assets/inmobiliaria/asset_0024.jpg" height="80" width="58"></a>
    </div>
    <div class="footerB-full aclaracion">
      Todas las medidas enunciadas son meramente orientativas, las medidas exactas ser&aacute;n las que se expresen en el respectivo t&iacute;tulo de propiedad de cada inmueble. Todas las fotos, imagenes y videos son meramente ilustrativos y no contractuales. Los precios enunciados son meramente orientativos y no contractuales.
    </div>
    <div class="footerB-full bottom">
      <div class="footerB-copyright">&copy; 2026 Cesar Uran inmobiliaria.</div>
      <div class="footerB-powered"><a href="https://www.tokkobroker.com/crm-sistema-inmobiliario?n=Cesar%20Uran%20inmobiliaria" target="_blank">Software Inmobiliario - Tokko Broker</a></div>
    </div>
  </div>
</footer>

<a href="https://api.whatsapp.com/send?phone=5493533477700&amp;text=Quisiera%20contactarme%20con%20ustedes" class="whatsapp-widget" target="_blank">
  <i class="fa fa-whatsapp whatsapp-icon"></i>
</a>
