<div class="w-100 d-flex flex-column">
    <div>
        <img src="assets/arca/landing/nav-arca.png" class="desktop img-fluid w-100" />
        <img src="assets/arca/landing/nav-arca-m.png" class="mobile img-fluid w-100" />
    </div>
    <div class="position-relative">
        <div>
            <img src="assets/arca/landing/carousel-arca.png" class="img-fluid w-100" />
        </div>
        <!--img src="assets/arca/landing/carousel-arca.png" class="img-fluid w-100" /-->
        <!--img src="assets/arca/landing/carousel-arca-m.png" class="mobile img-fluid w-100" /-->
        <div id="login-container" class="h-100"><!--position-absolute top-0 end-0-->
            <div class="d-flex flex-column align-items-center justify-content-center h-100 w-100 text-light px-4 text-center">
                <div class="w-50">
                    <div class="h2 mb-3">
                        <span>Ingresar con Clave Fiscal</span>
                    </div>
                    <button class="btn btn-primary w-100 mb-3" [routerLink]="['/arca/login']">Iniciar sesión</button>
                    
                    <div class="login-links mb-3">
                        <a class="text-light h5" href="#" style="text-decoration: none">Recuperar Clave Fiscal</a>
                    </div>

                    <hr class="w-100 mb-3">
                    
                    <button class="btn btn-outline-light w-100 mb-3">Comenzar inscripción</button>
                    <button class="btn btn-outline-light w-100">Constancia de CUIT</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img src="assets/arca/landing/landing-arca-m.png" class="mobile img-fluid w-100" />
        <img src="assets/arca/landing/landing-arca.png" class="desktop img-fluid w-100" />
    </div>
</div>