.mobile {
    display: none;
}
.custom-color{
    color:#0049af;
}
#nav{
    background-color: #0049af;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
    position: relative;
}
#btn-menu{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fb5900;
}
#menu img{
    width: 220px;
    min-width: 220px;
    height: 220px;
    min-height: 220px;
    border-radius: 2rem;
}
#menu img:hover {
  transform: scale(1.05); /* Agranda la imagen un 5% */
  /*filter: brightness(95%); /* La oscurece un poco */
  cursor: pointer; /* Asegura que aparezca la manita del ratón */
  box-shadow: 0px 0px 20px #fb590077; /* Añade una sombra para dar profundidad */
}
/*
#login-container {
    width: 50%;
    position:absolute;
    top:0;
    right:0;
}*/
@media (max-width: 950px) {
    /*
    #login-container {
        width: 100%;
        position: inherit;
        background: #242c4f;
        padding: 30px 20px;
    }*/
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}