<div id="nav">
    <img src="assets/ecogas/landing/nav-desktop.png" class="desktop img-fluid w-100" />
    <img src="assets/ecogas/landing/nav-mobile.png" class="mobile img-fluid w-100"/>
    <a id="btn-menu" routerLink="/ecogas/menu" class="btn text-light rounded-pill">Acceder</a>
</div>
<div class="container">
    <div class="w-100 text-center mt-5 ">
        <h1 class="custom-color">¿Qué necesitás hacer hoy?</h1>
        <p class="fs-3">Accedé rapidamente a los trámites más esenciales.</p>
    </div>
    <div id="menu" class="w-100 d-flex flex-wrap justify-content-center mb-4 py-3">
        <a routerLink="/ecogas/menu">
            <img src="assets/ecogas/landing/opc-1.png" class="img-fluid mx-2" />
        </a>
        <a routerLink="/ecogas/menu">
            <img src="assets/ecogas/landing/opc-2.png" class="img-fluid mx-2" />
        </a>
    </div>
</div>
<div class="w-100 mt-3" style="background-color: #0049af;">
    <img src="assets/ecogas/landing/footer.png">
</div>