<div>
    <h3>PLATAFORMAS</h3>
    <div class="d-flex">
        <div><button class="btn btn-outline-primary" routerLink="/arca">ARCA</button></div>
        <div><button class="btn btn-outline-primary" routerLink="/ecogas">ECOGAS</button></div>
        <div><button class="btn btn-outline-primary" routerLink="/emav">EMAV</button></div>
        <div><button class="btn btn-outline-primary" routerLink="/muni">MUNICIPALIDAD</button></div>
        <div><button class="btn btn-outline-primary" routerLink="/banco">BANCO</button></div>
        <div><button class="btn btn-outline-primary" routerLink="/inmobiliaria">INMOBILIARIA</button></div>
        <div><button class="btn btn-outline-primary" routerLink="/proveedor">PROVEEDOR</button></div>
        <div><button class="btn btn-outline-primary" routerLink="/cooperativa">COOPERATIVA</button></div>
        <div><button class="btn btn-outline-primary" routerLink="/seguro">SEGURO</button></div>
    </div>
</div>