/* You can add global styles to this file, and also import other style files */
        :root {
            --bna-blue: #003087;
            --bna-teal: #005f9e;
            --lv-blue: #003087;
        }