<div class="header-wrapper">
  <div wc-version="1.6.0">
    <header class="b-header-wrapper">
      <div>
        <div class="b-header b-header--not-logged">
          <div class="wc-container">
            <div class="b-header__container">
              <a href="https://www.rentascordoba.gob.ar/inicio/">
                <img alt="logo de rentas" class="b-header__logo" src="assets/dgr/asset_0001.svg">
              </a>
              <div class="b-header__shortcuts">
                <div>
                  <a
                    class="b-header-helpCenter"
                    href="https://www.rentascordoba.gob.ar/cms/centro-de-ayuda/">
                    <i class="wcicon-question-circle"></i>
                    <span class="b-header-helpCenter__text">Centro de ayuda</span>
                  </a>
                </div>
                <div>
                  <div>
                    <div class="b-user-login b-user-login--not-logged">
                      <a routerLink="/dgr/menu" class="b-user-login__link">
                        <button tabindex="1" cdkoverlayorigin="">
                          <i class="wcicon-person-circle"></i>
                          <span class="b-user-button-text">Iniciar sesión</span>
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="b-header__border"></div>
      </div>
    </header>
  </div>
</div>
<main>
  <div>
    <div>
      <div class="container-home-page">
        <div>
          <div>
            <div class="embla">
              <div emblacarousel="" class="embla__viewport">
                <div class="embla__container">
                  <a
                    tabindex="1"
                    rel="noopener noreferrer"
                    class="embla__slide"
                    target="_self"
                    href="https://www.rentascordoba.gob.ar/emision/ver-y-pagar/?promotion_name=banner_carrusel_home&amp;creative_name=position-11">
                    <img class="embla__slide--desktop" src="assets/dgr/asset_0002.webp" alt="Banner cordobesa">
                  </a>
                  <a
                    tabindex="1"
                    rel="noopener noreferrer"
                    class="embla__slide"
                    target="_self"
                    href="https://www.rentascordoba.gob.ar/emision/ver-y-pagar/?promotion_name=banner_carrusel_home&amp;creative_name=position-22">
                    <img class="embla__slide--desktop" src="assets/dgr/asset_0003.webp" alt="Plan de Pagos">
                  </a>
                  <a
                    tabindex="1"
                    rel="noopener noreferrer"
                    class="embla__slide"
                    target="_self"
                    href="https://www.rentascordoba.gob.ar/cms/ca/informacion-general-sobre-ingresos-brutos/?promotion_name=banner_carrusel_home&amp;creative_name=position-33">
                    <img class="embla__slide--desktop" src="assets/dgr/asset_0004.webp" alt="Nueva DDJJ Simple - Ingresos Brutos">
                  </a>
                </div>
              </div>
              <button class="embla__button embla__button--prev">
                <img src="assets/dgr/asset_0005.svg" alt="" class="embla__button__svg">
              </button>
              <button class="embla__button embla__button--next">
                <img src="assets/dgr/asset_0006.svg" alt="" class="embla__button__svg">
              </button>
              <div class="embla__dots">
                <button class="embla__dot embla__dot--selected" type="button"></button>
                <button class="embla__dot" type="button"></button>
                <button class="embla__dot" type="button"></button>
              </div>
              <div class="embla__footer"></div>
            </div>
          </div>
        </div>
        <div class="administrations-and-expirations">
          <div>
            <div class="taxes-and-administrations">
              <div class="container-shadow"></div>
              <div class="container taxes-container">
                <div class="justify-content-around taxes-container__title">
                  <div class="justify-content-center">
                    <h1><span class="blue-hightlight">¿Qué necesitás</span> hacer hoy?</h1>
                  </div>
                </div>
                <div class="d-flex justify-content-center taxes-container__content">
                  <div class="content-inside-container">
                    <div class="content-card p-0 mb-lg-0">
                      <div id="home_click_ver-y-pagar">
                        <a
                          class="bl-hc-card"
                          href="https://www.rentascordoba.gob.ar/emision/ver-y-pagar">
                          <div class="bl-hc-card__body">
                            <div class="bl-hc-card__shape"></div>
                            <div class="bl-hc-card__bubble">
                              <img src="assets/dgr/asset_0007.webp" class="bl-hc-card__img bl-hc-card__img--emision">
                            </div>
                            <div class="bl-hc-card__container">
                              <div>
                                <h1 class="bl-hc-card__title">Ver y pagar</h1>
                              </div>
                              <img src="assets/dgr/asset_0008.svg" class="divider">
                              <div>
                                <p class="bl-hc-card__text">
                                  Consultá y pagá tus
                                  <span>impuestos, multas y planes.</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="content-card p-0 mb-lg-0">
                      <div id="home_click_iniciar-gestiones">
                        <a
                          class="bl-hc-card"
                          href="https://www.rentascordoba.gob.ar/cms/gestiones/">
                          <div class="bl-hc-card__body">
                            <div class="bl-hc-card__shape"></div>
                            <div class="bl-hc-card__bubble">
                              <img src="assets/dgr/asset_0009.webp" class="bl-hc-card__img bl-hc-card__img--gestiones">
                            </div>
                            <div class="bl-hc-card__container">
                              <div>
                                <h1 class="bl-hc-card__title">Iniciar gestiones</h1>
                              </div>
                              <img src="assets/dgr/asset_0010.svg" class="divider">
                              <div>
                                <p class="bl-hc-card__text">
                                  Iniciá tus gestiones o descargá
                                  <span>informes y constancias.</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="administrations-and-expirations__circle"></div>
          <div>
            <div class="expirations">
              <div class="container">
                <div class="d-flex align-items-center justify-content-center">
                  <h1 class="expirations__title">Vencimientos</h1>
                </div>
                <div class="calendar">
                  <div class="calendar__circle">
                    <img src="assets/dgr/asset_0011.webp" alt="" class="calendar__icon">
                  </div>
                  <div class="calendar__background">
                    <div class="calendar__container">
                      <div class="expirations-desktop">
                        <div class="expirations-dates">
                          <div class="expirations-dates__column">
                            <h6 class="expirations-dates__date"> 10/08 </h6>
                            <h6 class="expirations-dates__day"> LUNES </h6>
                          </div>
                          <div class="expirations-dates__column">
                            <h6 class="expirations-dates__date"> 18/08 </h6>
                            <h6 class="expirations-dates__day"> MARTES </h6>
                          </div>
                          <div class="expirations-dates__column">
                            <h6 class="expirations-dates__date"> 19/08 </h6>
                            <h6 class="expirations-dates__day"> MIÉRCOLES </h6>
                          </div>
                        </div>
                        <div class="expirations-quotas">
                          <div class="expirations-quotas__column">
                            <div class="expirations-quotas__tax">
                              <p class="expirations-quotas__text">
                                <span>Cuota </span>
                                <span class="expirations-quotas__text--little">7</span>
                                | Impuesto
                                <span class="expirations-quotas__text expirations-quotas__text--bold capitalize">
                                  automotor
                                </span>
                              </p>
                            </div>
                            <div class="expirations-quotas__tax">
                              <p class="expirations-quotas__text">
                                <span>Cuota </span>
                                <span class="expirations-quotas__text--little">7</span>
                                | Impuesto
                                <span class="expirations-quotas__text expirations-quotas__text--bold capitalize">
                                  inmobiliario rural
                                </span>
                              </p>
                            </div>
                            <div class="expirations-quotas__tax">
                              <p class="expirations-quotas__text">
                                <span>Cuota </span>
                                <span class="expirations-quotas__text--little">7</span>
                                | Impuesto
                                <span class="expirations-quotas__text expirations-quotas__text--bold capitalize">
                                  inmobiliario urbano
                                </span>
                              </p>
                            </div>
                            <div class="expirations-quotas__tax">
                              <p class="expirations-quotas__text">
                                <span>Cuota </span>
                                <span class="expirations-quotas__text--little">7</span>
                                | Impuesto
                                <span class="expirations-quotas__text expirations-quotas__text--bold capitalize">
                                  embarcación
                                </span>
                              </p>
                            </div>
                          </div>
                          <div class="expirations-quotas__divider"></div>
                          <div class="expirations-quotas__column">
                            <div class="expirations-quotas__tax">
                              <p class="expirations-quotas__text">
                                <span class="expirations-quotas__text expirations-quotas__text--bold">IIBB</span>
                                Régimen General |
                                <span class="expirations-quotas__text expirations-quotas__text--bold">
                                  Presentación de DDJJ y pago
                                </span>
                              </p>
                              <p class="expirations-quotas__text-iibb">
                                CUIT CON DÍGITO VERIFICADOR 0-1-2-3-4 (Julio 2026)
                              </p>
                            </div>
                          </div>
                          <div class="expirations-quotas__divider"></div>
                          <div class="expirations-quotas__column">
                            <div class="expirations-quotas__tax">
                              <p class="expirations-quotas__text">
                                <span class="expirations-quotas__text expirations-quotas__text--bold">IIBB</span>
                                Régimen General |
                                <span class="expirations-quotas__text expirations-quotas__text--bold">
                                  Presentación de DDJJ y pago
                                </span>
                              </p>
                              <p class="expirations-quotas__text-iibb">
                                CUIT CON DÍGITO VERIFICADOR 5-6-7-8-9 (Julio 2026)
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="expirations-mobile sf-hidden"></div>
                      <div class="expirations-mobile sf-hidden"></div>
                      <div class="expirations-mobile sf-hidden"></div>
                    </div>
                  </div>
                  <button
                    bl-base-button=""
                    id="home_click_ver-calendario"
                    class="expirations__button bl-button-attr-style--green bl-button-attr-base bl-base-button-attr">
                    Ver calendario
                  </button>
                </div>
              </div>
              <div class="expirations__divider"></div>
            </div>
          </div>
        </div>
        <div>
          <div class="background">
            <div class="box-shadow"></div>
            <div class="container pay-your-taxes">
              <div class="text-container">
                <h1><span>Pagá tus impuestos</span> con estos medios</h1>
              </div>
              <div class="image-container">
                <div class="first-row">
                  <img alt="Tarjeta Cordobesa" src="assets/dgr/asset_0012.svg" class="height-35-35">
                  <img alt="Tarjeta Naranja" src="assets/dgr/asset_0013.svg" class="height-25-30">
                  <img alt="Tarjeta Visa" src="assets/dgr/asset_0014.svg" class="height-25-30">
                </div>
                <div class="second-row">
                  <img alt="Tarjeta Mastercard" src="assets/dgr/asset_0015.svg" class="height-35-30">
                  <img alt="Tarjeta Mercado Pago" src="assets/dgr/asset_0016.svg" class="height-35-30">
                </div>
              </div>
              <div class="col-12 text-center">
                <button
                  bl-base-button=""
                  id="home_click_pagar-aqui"
                  class="bl-button-attr-style--green bl-button-attr-base bl-base-button-attr">
                  Ver todos los medios de pago
                </button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="background">
            <div class="box-shadow"></div>
            <div class="container-shadow"></div>
            <div class="container promotions">
              <div class="title-container">
                <div class="justify-content-around title-container__title">
                  <h1>Estamos en movimiento <span class="pink-hightlight">para acortar distancias</span></h1>
                </div>
              </div>
              <div class="mas-cerca-container">
                <div class="mas-cerca-container__servicio-movil">
                  <div class="mas-cerca-container__servicio-movil--img">
                    <img alt="Servicio Móvil" src="assets/dgr/asset_0017.svg">
                  </div>
                  <p>
                    Estas son las
                    <span>visitas del día</span>
                    para recibir asesoramiento personalizado en tu localidad.
                  </p>
                  <div class="mas-cerca-container__servicio-movil--btn">
                    <button
                      bl-card-button=""
                      cardtype="pink"
                      id="home_click_rentas-mas-cerca-ver-instagram"
                      class="bl-button-attr-style--pink bl-button-attr-base bl-card-button-attr">
                      Ver en Instagram
                    </button>
                  </div>
                </div>
                <div class="mas-cerca-container__carousel">
                  <div>
                    <div class="carousel-wrapper">
                      <div class="carousel"><img alt="Imagen del carrusel" src="assets/dgr/asset_0018.jpg"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="btn-container">
                <button
                  bl-gestiones-button=""
                  id="home_click_rentas-mas-cerca-conocer-mas"
                  class="bl-button-attr-style--green bl-button-attr-base bl-gestiones-button-attr">
                  <div class="shape"></div>
                  Conocé más sobre el programa
                </button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="available-administrations blue-background">
            <div class="container-shadow"></div>
            <div class="container">
              <div class="justify-content-around available-administrations__title">
                <h1><span class="blue-hightlight">Gestiones</span> disponibles</h1>
              </div>
              <div class="d-none d-sm-block">
                <div class="row available-administrations__content">
                  <div class="col-md-12 mx-auto">
                    <div class="available-administrations__card-container" style="flex-wrap: wrap;">
                      <div class="available-administrations__card">
                        <div>
                          <div class="b-gradient-card b-gradient-card--green">
                            <div class="b-gradient-card__bg"></div>
                            <div class="b-gradient-card__shape"></div>
                            <div class="b-gradient-card__body">
                              <div class="icon">
                                <div class="icon__bg"></div>
                                <div class="icon__container"><img alt="" src="assets/dgr/asset_0019.webp"></div>
                              </div>
                              <div class="b-gradient-card__title-container">
                                <h3>Valores de referencia en alquileres</h3>
                              </div>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="100%"
                                height="13"
                                viewBox="0 0 218 13"
                                fill="none">
                                <path
                                  d="M0 1.58057H103.031V10.2708L111.951 1.35059H218"
                                  stroke-width="2"
                                  stroke-miterlimit="10"
                                  stroke="#32A430"></path>
                              </svg>
                              <p>
                                Consultá los valores de referencia en alquileres y arrendamientos para liquidar el impuesto de Sellos e Ingresos Brutos.
                              </p>
                              <div class="b-gradient-card__btn">
                                <button
                                  bl-card-button=""
                                  id="ingresar_referencia_alquileres"
                                  class="bl-button-attr-style--green bl-button-attr-base bl-card-button-attr">
                                  Ingresar
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="available-administrations__card">
                        <div>
                          <div class="b-gradient-card b-gradient-card--lime">
                            <div class="b-gradient-card__bg"></div>
                            <div class="b-gradient-card__shape"></div>
                            <div class="b-gradient-card__body">
                              <div class="icon">
                                <div class="icon__bg"></div>
                                <div class="icon__container"><img alt="" src="assets/dgr/asset_0020.webp"></div>
                              </div>
                              <div class="b-gradient-card__title-container">
                                <h3>Compensación</h3>
                              </div>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="100%"
                                height="13"
                                viewBox="0 0 218 13"
                                fill="none">
                                <path
                                  d="M0 1.58057H103.031V10.2708L111.951 1.35059H218"
                                  stroke-width="2"
                                  stroke-miterlimit="10"
                                  stroke="#8BB91A"></path>
                              </svg>
                              <p>Usá tu crédito a favor para pagar otras cuotas de tus impuestos.</p>
                              <div class="b-gradient-card__btn">
                                <button
                                  bl-card-button=""
                                  id="ingresar_compensacion"
                                  class="bl-button-attr-style--lime bl-button-attr-base bl-card-button-attr">
                                  Ingresar
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="available-administrations__card">
                        <div>
                          <div class="b-gradient-card b-gradient-card--yellow">
                            <div class="b-gradient-card__bg"></div>
                            <div class="b-gradient-card__shape"></div>
                            <div class="b-gradient-card__body">
                              <div class="icon">
                                <div class="icon__bg"></div>
                                <div class="icon__container"><img alt="" src="assets/dgr/asset_0021.webp"></div>
                              </div>
                              <div class="b-gradient-card__title-container">
                                <h3>Exención adultos mayores o vulnerabilidad social</h3>
                              </div>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="100%"
                                height="13"
                                viewBox="0 0 218 13"
                                fill="none">
                                <path
                                  d="M0 1.58057H103.031V10.2708L111.951 1.35059H218"
                                  stroke-width="2"
                                  stroke-miterlimit="10"
                                  stroke="#F7BE2B"></path>
                              </svg>
                              <p>
                                Usalo para consultar si tu inmueble cuenta con el beneficio de la exención y/o solicitarlo.
                              </p>
                              <div class="b-gradient-card__btn">
                                <button
                                  bl-card-button=""
                                  id="ingresar_exencion_amvs"
                                  class="bl-button-attr-style--yellow bl-button-attr-base bl-card-button-attr">
                                  Ingresar
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="available-administrations__card">
                        <div>
                          <div class="b-gradient-card b-gradient-card--orange">
                            <div class="b-gradient-card__bg"></div>
                            <div class="b-gradient-card__shape"></div>
                            <div class="b-gradient-card__body">
                              <div class="icon">
                                <div class="icon__bg"></div>
                                <div class="icon__container"><img alt="" src="assets/dgr/asset_0022.webp"></div>
                              </div>
                              <div class="b-gradient-card__title-container">
                                <h3>Reducción de alícuota por saldo a favor</h3>
                              </div>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="100%"
                                height="13"
                                viewBox="0 0 218 13"
                                fill="none">
                                <path
                                  d="M0 1.58057H103.031V10.2708L111.951 1.35059H218"
                                  stroke-width="2"
                                  stroke-miterlimit="10"
                                  stroke="#EB7F27"></path>
                              </svg>
                              <p>
                                Usalo para solicitar la reducción de alícuotas de retención/percepción, cuando tengas saldo a favor en tu última declaración jurada vencida de ingresos brutos.
                              </p>
                              <div class="b-gradient-card__btn">
                                <button
                                  bl-card-button=""
                                  id="ingresar_reduccion_saf"
                                  class="bl-button-attr-style--orange bl-button-attr-base bl-card-button-attr">
                                  Ingresar
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="available-administrations__card">
                        <div>
                          <div class="b-gradient-card b-gradient-card--pink">
                            <div class="b-gradient-card__bg"></div>
                            <div class="b-gradient-card__shape"></div>
                            <div class="b-gradient-card__body">
                              <div class="icon">
                                <div class="icon__bg"></div>
                                <div class="icon__container"><img alt="" src="assets/dgr/asset_0023.webp"></div>
                              </div>
                              <div class="b-gradient-card__title-container">
                                <h3>Transferencia de crédito</h3>
                              </div>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="100%"
                                height="13"
                                viewBox="0 0 218 13"
                                fill="none">
                                <path
                                  d="M0 1.58057H103.031V10.2708L111.951 1.35059H218"
                                  stroke-width="2"
                                  stroke-miterlimit="10"
                                  stroke="#AF4178"></path>
                              </svg>
                              <p>
                                Se utiliza para transferir a otro contribuyente un crédito tributario del impuesto Ingresos Brutos.
                              </p>
                              <div class="b-gradient-card__btn">
                                <button
                                  bl-card-button=""
                                  id="ingresar_transferencia_credito"
                                  class="bl-button-attr-style--pink bl-button-attr-base bl-card-button-attr">
                                  Ingresar
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="available-administrations__card">
                        <div>
                          <div class="b-gradient-card b-gradient-card--blue">
                            <div class="b-gradient-card__bg"></div>
                            <div class="b-gradient-card__shape"></div>
                            <div class="b-gradient-card__body">
                              <div class="icon">
                                <div class="icon__bg"></div>
                                <div class="icon__container"><img alt="" src="assets/dgr/asset_0024.webp"></div>
                              </div>
                              <div class="b-gradient-card__title-container">
                                <h3>Contribuyente de extraña jurisdicción</h3>
                              </div>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="100%"
                                height="13"
                                viewBox="0 0 218 13"
                                fill="none">
                                <path
                                  d="M0 1.58057H103.031V10.2708L111.951 1.35059H218"
                                  stroke-width="2"
                                  stroke-miterlimit="10"
                                  stroke="#00AAE2"></path>
                              </svg>
                              <p>
                                Usalo para declararte como no pasible del régimen de percepción, cuando realizás operaciones con este tipo de agentes y no estás obligado a inscribirte en jurisdicción Córdoba.
                              </p>
                              <div class="b-gradient-card__btn">
                                <button
                                  bl-card-button=""
                                  id="ingresar_extraña_jurisdiccion"
                                  class="bl-button-attr-style--blue bl-button-attr-base bl-card-button-attr">
                                  Ingresar
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 available-administrations__buttons">
                    <button
                      bl-gestiones-button=""
                      id="home_click_ver-todas-las-gestiones"
                      class="bl-button-attr-style--green bl-button-attr-base bl-gestiones-button-attr">
                      <div class="shape"></div>
                      Ver todas las gestiones
                    </button>
                  </div>
                </div>
              </div>
              <div class="d-block d-sm-none flex-carousel-back-container sf-hidden"></div>
            </div>
          </div>
          <div class="blue-divider"></div>
        </div>
        <div>
          <div class="websites-of-interest">
            <div class="container-shadow"></div>
            <div class="container">
              <div class="d-flex align-items-center justify-content-center">
                <h1 class="websites-of-interest__title">
                  Sitios de
                  <span class="websites-of-interest__title--white">interés</span>
                </h1>
              </div>
              <div class="row">
                <div class="col-md-10 mx-auto">
                  <div class="row websites-of-interest__container">
                    <div class="websites-of-interest__col col-lg-4">
                      <div id="home_click_impuestos-unificados">
                        <a
                          target="_blank"
                          class="b-sites-card b-sites-card--blue"
                          href="https://www.rentascordoba.gob.ar/cms/gestion-municipios-comunas/">
                          <div class="b-sites-card__bg"></div>
                          <div class="b-sites-card__shape"></div>
                          <div class="b-sites-card__body">
                            <div class="b-sites-card__img-container">
                              <img alt="" class="b-sites-card__img" src="assets/dgr/asset_0025.svg">
                            </div>
                            <div class="b-sites-card__text-container">
                              <p>Integración Tributaria</p>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="websites-of-interest__col col-lg-4">
                      <div id="home_click_agentes-ibb-sellos-info">
                        <a
                          target="_blank"
                          class="b-sites-card b-sites-card--violet"
                          href="https://www.rentascordoba.gob.ar/cms/ms-agentes/">
                          <div class="b-sites-card__bg"></div>
                          <div class="b-sites-card__shape"></div>
                          <div class="b-sites-card__body">
                            <div class="b-sites-card__img-container">
                              <img alt="" class="b-sites-card__img" src="assets/dgr/asset_0026.svg">
                            </div>
                            <div class="b-sites-card__text-container">
                              <p>Ingresos Brutos, Sellos e Información</p>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="websites-of-interest__col col-lg-4">
                      <div id="home_click_registro-tributario-unico">
                        <a
                          target="_blank"
                          class="b-sites-card b-sites-card--green"
                          href="https://www.rentascordoba.gob.ar/cms/rut/">
                          <div class="b-sites-card__bg"></div>
                          <div class="b-sites-card__shape"></div>
                          <div class="b-sites-card__body">
                            <div class="b-sites-card__img-container">
                              <img alt="" class="b-sites-card__img" src="assets/dgr/asset_0027.svg">
                            </div>
                            <div class="b-sites-card__text-container">
                              <p>Tus gestiones de Ingresos Brutos en un solo lugar</p>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="footer pt-5" style="background-color: #00345b;">
  <footer>
    <div class="wc-container">
      <div class="b-footer__wrapper">
        <div class="d-flex" style="justify-content: space-evenly;
                                    flex-wrap: wrap;
                                    align-content: center;
                                    align-items: flex-start;">
          <div class="b-footer__col">
            <div class="b-footer__group">
              <h5 class="b-footer__title">Legislación tributaria</h5>
              <a
                target="_blank"
                class="b-footer__item"
                href="https://www.rentascordoba.gob.ar/cms/legislacion/?_sft_category=codigo-tributario-provincial#buscador">
                <span>Código tributario</span>
              </a>
              <a
                target="_blank"
                class="b-footer__item"
                href="https://www.rentascordoba.gob.ar/cms/legislacion/?_sft_category=ley-impositiva-anual#buscador">
                <span>Ley impositiva anual</span>
              </a>
              <a
                target="_blank"
                class="b-footer__item"
                href="https://www.rentascordoba.gob.ar/cms/legislacion/?_sft_category=decretos#buscador">
                <span>Decretos</span>
              </a>
              <a
                target="_blank"
                class="b-footer__item"
                href="https://www.rentascordoba.gob.ar/cms/legislacion/#buscador">
                <span>Resoluciones</span>
              </a>
              <a
                target="_blank"
                class="b-footer__item"
                href="https://www.rentascordoba.gob.ar/cms/legislacion/?_sft_category=otras-leyes#buscador">
                <span>Otras leyes</span>
              </a>
              <a
                target="_blank"
                class="b-footer__item"
                href="https://www.rentascordoba.gob.ar/cms/ca/consulta-vinculante/">
                <span>Consulta vinculante</span>
              </a>
              <a
                target="_blank"
                class="b-footer__item b-footer__item--more"
                href="https://www.rentascordoba.gob.ar/cms/legislacion/">
                <span>Más legislación tributaria</span>
              </a>
            </div>
          </div>
          <div class="b-footer__col">
            <div class="b-footer__group">
              <h5 class="b-footer__title">Centro de ayuda</h5>
              <a
                target="_blank"
                class="b-footer__item"
                href="https://www.rentascordoba.gob.ar/cms/formas-de-pago/">
                <span>Medios de pago</span>
              </a>
              <a
                target="_blank"
                class="b-footer__item"
                href="https://www.rentascordoba.gob.ar/cms/ca/impuesto-inmobiliario/">
                <span>Inmobiliario</span>
              </a>
              <a
                target="_blank"
                class="b-footer__item"
                href="https://www.rentascordoba.gob.ar/cms/ca/impuesto-automotor/">
                <span>Automotor</span>
              </a>
              <a
                target="_blank"
                class="b-footer__item"
                href="https://www.rentascordoba.gob.ar/cms/ca/multas-de-caminera/">
                <span>Multas de Policía Caminera</span>
              </a>
              <a
                target="_blank"
                class="b-footer__item"
                href="https://www.rentascordoba.gob.ar/cms/ca/impuesto-a-los-sellos/">
                <span>Sellos</span>
              </a>
              <a
                target="_blank"
                class="b-footer__item"
                href="https://www.rentascordoba.gob.ar/cms/categorias/ingresos-brutos/">
                <span>Ingresos brutos</span>
              </a>
              <a
                target="_blank"
                class="b-footer__item"
                href="https://www.rentascordoba.gob.ar/cms/ca/listados-y-nominas/">
                <span>Padrones, Aplicativos y Formularios</span>
              </a>
              <a
                target="_blank"
                class="b-footer__item"
                href="https://www.rentascordoba.gob.ar/cms/procuradores-y-levantamientos-autorizados/">
                <span>Procuradores y levantamientos<br>autorizados</span>
              </a>
              <a
                target="_blank"
                class="b-footer__item b-footer__item--more"
                href="https://www.rentascordoba.gob.ar/cms/centro-de-ayuda/">
                <span>Más información</span>
              </a>
            </div>
          </div>
          <div class="b-footer__col">
            <div class="b-footer__group">
              <h5 class="b-footer__title">Rentas, estés donde estés</h5>
              <a target="_blank" class="b-footer__item" href="https://www.facebook.com/rentascba/">
                <i class="wcicon-facebook-square"></i>
                <span>Rentas Córdoba</span>
              </a>
              <a target="_blank" class="b-footer__item" href="tel:0800-444-8008">
                <i class="wcicon-telefono"></i>
                <span>0800-444-8008</span>
              </a>
              <a
                target="_blank"
                class="b-footer__item"
                href="https://www.rentascordoba.gob.ar/cms/puntos-de-atencion/">
                <i class="wcicon-map-pin"></i>
                <span>Puntos y canales de atención</span>
              </a>
              <i class="icon-bell"></i>
            </div>
            <div class="b-footer__group">
              <h5 class="b-footer__title">Queremos ayudarte</h5>
              <a
                target="_blank"
                class="b-footer__item"
                href="https://www.rentascordoba.gob.ar/cms/denuncias/">
                <i class="wcicon-denuncias"></i>
                <span>Denuncias</span>
              </a>
              <a
                target="_blank"
                class="b-footer__item b-footer__item--help"
                href="https://www.rentascordoba.gob.ar/cms/defensa-de-los-derechos-del-contribuyente-sip/">
                <i class="wcicon-shield-user"></i>
                <span>Defensa de los Derechos del Contribuyente</span>
              </a>
            </div>
          </div>
          <div class="b-footer__col">
            <div class="b-footer__group">
              <h5 class="b-footer__title">Seguinos en nuestras redes</h5>
              <a target="_blank" class="b-footer__item" href="https://www.facebook.com/rentascba/">
                <i class="wcicon-facebook-square"></i>
                <span>Rentas Córdoba</span>
              </a>
              <a
                target="_blank"
                class="b-footer__item"
                href="https://www.instagram.com/rentascordoba?igsh=MXUwOXFhdzJ5MDE2">
                <i class="wcicon-instagram"></i>
                <span>Rentas Córdoba</span>
              </a>
            </div>
            <img alt="" class="b-footer__cba-logo" src="assets/dgr/asset_0028.svg">
          </div>
        </div>
        <div class="b-footer__bottom w-100">
            <div class="b-footer__copy-container">
              <p class="b-footer__copy">
                Copyright © 2026
                <span>-</span>
                Rentas Córdoba - Ministerio de Economía y Gestión Pública OP
              </p>
              <span class="separator"></span>
              <p class="b-footer__copy">
                <a
                  class="b-footer__link b-footer__link--help"
                  href="https://www.rentascordoba.gob.ar/cms/sistema-de-gestion-de-compliance/">
                  Sistema de Gestión de Compliance
                </a>
              </p>
            </div>
            <p class="b-footer__copy-text">Año de los Derechos Humanos por la Memoria, la Verdad y la Justicia</p>
          </div>
      </div>
    </div>
  </footer>
</div>
